/* Fuentes */
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
}

.font-primary {
    font-family: var(--font-primary);
}

.font-secondary {
    font-family: var(--font-secondary);
}

/* Colores */
:root {
    --color-primary: #5485b9;
    --color-secondary: #6c757d;
    --color-accent: #28a745;
}

.bg-gradient-primary {
    background: rgb(74, 160, 161);
background: linear-gradient(0deg, rgb(65, 188, 190) 0%, rgb(211, 62, 174) 100%);
}

/* Estilos generales */
body {
    font-family: var(--font-secondary);
    color: #333;
}

h1, h2, h3 {
    font-family: var(--font-primary);
    color: var(--color-primary);
}

/* Sección de habilidades (Carrusel) */
.carousel-item {
    padding: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--color-primary);
    border-radius: 50%;
    padding: 10px;
}

/* Iconos */
.icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

/* Botones */
.btn-primary {
    background-color: var(--color-primary);
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Formulario de contacto */
.contact .form-control {
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 10px;
}

.contact .form-control:focus {
    border-color: var(--color-primary);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Mensaje de confirmación */
.confirmation-message {
    color: var(--color-accent);
    font-weight: bold;
    margin-top: 20px;
}
/* Estilos para el ícono de GitHub en las tarjetas */
.icon-small {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Sombreado personalizado para las tarjetas */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* Cambiar el color de los títulos e iconos */
.card-title {
    color:  #5485b9; /* Otro tono de azul */
}

.list-icon {
    color: #5485b9; /* Otro tono de azul */
    font-size: 1.2rem; /* Tamaño de los iconos */
}
 /* Estilos personalizados para la imagen */
 .profile-img {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efecto de transición */
}
.profile-img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada al pasar el mouse */
}